superbase
streamlit
streamlit-authenticator
pandas
numpy
plotly
Pillow
opencv-python
pytesseract
easyocr
PyMuPDF
pdfplumber
python-docx
cryptography
pycryptodome
bcrypt
SQLAlchemy
passlib
python-dotenv
validators
requests
scikit-learn
sentence-transformers
faiss-cpu
langchain
langchain-community
chromadb
